table, th, td {
  border: 1px solid var(--text-color);
}

table {
  width: 100%;
}

th, td {
  padding: 5px 20px;
}

.address {
  font-family: monospace;
  max-width: 460px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
