<div class="wrapper">
  <div class="header">
    <div class="header__logo">
      <div class="logo"></div>
      currentTicker: {{ currentTicker }}
    </div>

    <nav class="header__nav">
      <ul class="nav">
        <li class="nav__item" *ngFor="let ticker of tickerList"><a [routerLink]="[ticker, currentPage]">{{ ticker }}</a></li>
        <li class="nav__item">
          <button (click)="changeColorScheme()" class="button--icon">
            <fa-icon [icon]="faMoon" *ngIf="!isDark"></fa-icon>
            <fa-icon [icon]="faSun" *ngIf="isDark"></fa-icon>
          </button>
        </li>
        <li class="nav__item"><a [routerLink]="[currentTicker, 'dashboard']" routerLinkActive="active">Dashboard</a></li>
        <li class="nav__item"><a [routerLink]="[currentTicker, 'miners']" routerLinkActive="active">Miners</a></li>
        <li class="nav__item"><a [routerLink]="[currentTicker, 'blocks']" routerLinkActive="active">Blocks</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet> 
  </div>
</div>